// Colors
$primary-color: #3c2447;
$secondary-color: #cf97ee;
$accent-color: #edac93;
$light-gray: #742c2c;
$off-white: #3c2306;

// Spacing
$padding-base: 1rem;
$margin-base: 1rem;

// Fonts
$font-main: 'Inter', sans-serif;
