
.body {   
   font-family: Arial, sans-serif; }

.header {    margin-bottom: 20px; }

.card {    margin-bottom: 20px; }

.navbar {    margin-bottom: 20px;}
.img-fluid {    margin-bottom: 20px; }

.bg-burgundy {    
  
  background-color: #9B1B30; 
   color: white; }
   .bg-dark-green {   
     background-color: #004d00; 
     color: white; }

   .bg-navy {   
       background-color: #001F3F; 
        color: white; }
  .bg-yellow {    background-color: #FFD700;
       color: black; 
      }
